.valor {
    font-weight: bold;
}

.negativo {
    color: red
}

.positivo {
    color: #00FF00
}

.link {
    color: black;
    text-decoration: none;
}

.mes {
    float: right;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 200px;
}

.grafico {
    max-height: 250px;
    max-width: 250px;
    margin-right: 20%;
    margin-bottom: 20%;
}

.grafico-titulo {
    font-weight: bold;
    color: gray;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.ano {
    list-style-type: none;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.logo-link {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .cards {
        display: flex;
        flex-direction: column;
    }

    footer {
        position: static;
        padding: 5%;
    }
}